*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

a {
  color: inherit;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  column-gap: 20px;
  margin-left: 0;
  margin-right: 0;
  padding: 0 50px;;
  margin-top: 92px;
  margin-bottom: 96px;
}

.header_logo {
  display: block;
  width: 148px;
}

.header__links_list {
  display: flex;
  flex-direction: row;
  gap: 34px;
  font-size: 18px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.address {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

.header_address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cover {
  position: relative;
  height: 757px;
  width: 1100px;
  background: url(/images/cover.jpg) center/cover no-repeat;
  z-index: 10;
  margin-bottom: 180px;
}

.cover_title {
  position: relative;
  padding: 165px 50px 0 50px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  z-index: 10;
}

.aligned_text {
  position: relative;
  display: block;
  z-index: 10;
}

.aligned_text_left {
  text-align: left;
}

.aligned_text_center {
  text-align: center;
}

.aligned_text_right {
  text-align: right;
}

.letter_spacing_extended {
  letter-spacing: 20px;
}

.cover_description {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 118px 50px 50px;
  z-index: 3;
  margin-bottom: -40px;
}

.cover_description-text {
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 1.1em;
}

.bet_button {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  border: 1px solid;
  color: white;
  background-color: transparent;
  font-size: 22px;
  font-weight: 500;
  padding: 12px 32px 11px 31px;
}

.lots {
  margin: 180px 24px 60px 24px;
}

.lots__heading {
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
}

.lots__card-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style: none;
  flex-wrap: nowrap;
}

.lots__card-list-item {
  height: 596px;
  width: 334px;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  justify-content: space-between;
  z-index: 2;
  padding: 48px 40px;
}

.card_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card_link {
  text-decoration: none;
}

.card__title {
  color: white;
  z-index: 3;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  text-decoration: underline;
  text-decoration-color: white;
}

.card_text {
  color: white;
  z-index: 3;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.card_type_film {
  background: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  border: 1px solid rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: 400;
}

.about {
  padding-top: 35px;
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 60px;
  max-width: 1052px;
  align-items: start;
  margin-top: 118px;
  margin-bottom: 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-image: url(/images/logo-white.svg);
  background-position: center;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 70%;
  padding: 35px 0 47px 0;
  margin-left: 47px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 100px;
  padding-top: 133px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 13px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 180px;
  align-self: start;
  column-gap: 177.5px;
}

.footer__address {
  justify-self: start;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  word-wrap: break-word;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link_active{
  text-decoration: none;
}

.footer__social-list {
  
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 48px;
  justify-self: end;;


}

.footer__social-list-item {

width: 48px;
height: 48px;

}
