
a {

  color: inherit;

}


.header {
  
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  
}

.header_logo {

  display: block;
  width: 148px;

}


.header_links_list {
  
  display: flex;
  flex-direction: row;
  font-size: 18px;
  gap: 34px;
  list-style-type: circle;

}



.header_links_list_item {


}

.header__links-list-item_no-bullit {

  list-style-type: none;

}

.header_link {

}

.address {
  
  justify-self: end;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24.3px;
}

.header_address {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.cover {

min-height: 757px;
position: relative;
background-image: url(/images/cover.jpg);
background-size: cover;
background-position: center;

}

.overlay {

  position: absolute;
  inset: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.5)
  
  
}

.aligned_text {



}

.aligned_text_right {

  
}



.description {

}

.lots {

}

.footer {

}

.about {
  
}