*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}


.header {
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;

}

.header_logo {

}

.header_menu {
    
}

.header_links_list {

}

.header_links_list_item {

}

.header_link {

}



.cover {

}

.decription {

}

.lots {

}

.footer {

}

.about {
  
}