
a {

  color: inherit;

}


.header {
  
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;

}

.header_logo {

  display: block;
  width: 148px;

}


.header_links_list {
  
  display: flex;
  flex-direction: row;
  gap: 34px;
  list-style-type: circle;

}



.header_links_list_item {


}

.header__links-list-item_no-bullit {

  list-style-type: none;

}

.header_link {

}

.address {
  
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24.3px;
  font-style: inherit;
  justify-self: end;
  
}

.header_address {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.cover {

}

.decription {

}

.lots {

}

.footer {

}

.about {
  
}